html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #28282b;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: background-position 0.5s ease-out;
}

#player {
  top: 20vw;
  left: 20vw;
  opacity: 0;
  position: absolute;
  fill: #6495ed;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(150, 149, 237, 0.9);
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  filter: blur(2px)
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  overflow-y: auto;
}

button {
  background-color: transparent;
  padding: 20px 20px;
  font-size: 1em;
  display: flex;
  flex-basis: calc(20% - 20px);
  height: 60px;
  min-width: 150px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  color: #e5e5e5;
}

button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .control-button {
    width: calc(50% - 20px);
    padding-bottom: calc(50% - 20px);
  }
}

.joystick {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.stick {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  top: 25px;
  left: 25px;
}

.star {
  position: absolute;
  border-radius: 50%;
}